*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-width: 400px;
    min-height: 600px;
    font-family: Verdana, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: #e3e8ee;
}

a {
    text-decoration:none
}

label {
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.popup-padded {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.pwdreset {
    font-size: 14px;
}

.signupbox {
    border-radius: 0.25rem;
    padding: 20px;
    margin-top: 15px;
    background-color: white;
}

.signupbox_hint {
    border-radius: 0.25rem;
    padding: 20px;
    margin-top: 5px;
}

.container {
    padding: 1rem 2rem;
}

.content {
    margin-top: 116px;
}

.time-entries-head {
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: #dfe0e1;
    border-radius: 0.25rem;
    position: relative;
    top: 20px
}

.time-entries {
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: white;
    border-radius: 0.25rem;
    position: relative;
    top: 20px
}

.time-entry {
    height: 60px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
}

.time-entry:not(:first-child) {
    border-top: 1px solid #F7F7F7;
}

.time-entries-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.time-entries-info {
    width: 48%;
}

.time-entries-project {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time-entries-play > svg:hover {
    fill: tomato;
}

.main-header {
    background-color: white;
    font-family: Verdana, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.page-header {
    height: 45px;
    padding: 0 1rem;
}

.header-second-row {
    border-top: 1px solid #F7F7F7;
}

.logo_zeitio {
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
}

.a_logo, .a_logo:hover {
    color: black;
}

.menu-item {
    cursor: pointer;
    user-select: none;
}

.menu-item:hover, .menu-item:hover svg, .menu-item:hover path {
    color: tomato;
    stroke: tomato
}

.header__icon-button svg {
    cursor: pointer;
}

.btn-primary, .btn-primary:hover {
    background-color: #fafbfc;
    color: black;
    border-color: #ced4da;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.form-control:disabled {
    background-color: #cecece;
}

.timer_section {
    vertical-align: middle;
    font-size: 26px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
    color: #0056b3;
}

.disabled {
    cursor: auto;
    opacity: 20%;
}

.timer_hms {
    margin: 0px;
    font-weight: bold;
}

.btn-primary.blue {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}